
.jumbotron {
    height: 400px;
    display: flex;
    justify-content: left;
    align-items: center;
    background: #FBD786;
    color: rgb(0, 0, 0);
    opacity: 80%;
    margin-top: 10px;
    padding-left: 10px;
}